/*sets anchor links to darkgreen*/
a{
	color: darkgreen ;
}
/*Supposed to turn current location in page to blue*/
a:active{
	color: darkblue;
}
/*the color for links that have been visited*/
a:visited{
	color: darkgreen;
}
/*the color of links when hovered over with cursor*/
a:hover{
	color: blue;
}

/*sets size for all elements declared at h2*/
h2{
	font-size: 200%;
}

/*sets properties for everyting in the header declaration. Properties such as alignment, color, font, size, and border color*/
header{
	text-align: center;
	background: lightyellow;
	font-family: Brush Script MT;
	font-size: 25px;
	border-bottom: black;
}

/*sets properties for everything in nav declartion*/
nav{
	text-align: center;
	margin-top: 15px;
	font-size: 20px;
	border-bottom: 5px solid palevioletred;
}
/*sets properties for body portion of website*/
body{
	background: darkgrey;
	margin: 50px 50px;
}

/*sets properties for paragraph declaration*/
p{
	font-family: Arial, serif;
	font-size: 	175%;
}

/*sets bottom padding for sections*/
section{
	padding-bottom: 140px ;
}

/*sets alignment and padding for header 2 in experience id*/
#Experience > h2{
	text-align: left;
	padding-left: 15.7em;
}

/*sets right padding for ID experience*/
#Experience{
	padding-right: 50px;
}

/*sets alignment to center, underlines text, and increases font size*/
#Services{
	text-align: center;
	text-decoration: underline;
	font-size: 200%;
}

/*creats grid*/
#social-grid{
	display: grid;

}

/*aligns everything with class haircuts to the center*/
.haircuts{
	text-align: center;
}

/*positions image with ID fade to the left of text*/
#fade{
	float:left;
}
/*positions image with ID robert1 to the right of text*/
#robert1{
	float:right;
}
/*removes underlines from navigation links*/
.external-nav{
	text-decoration: none;
}

/*makes container for social media links*/
#container{
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: left;
	position: relative;
	left: 550pt;
}

/*edits the submit form*/
#submit{
	border-right: 5px solid darkred;
	border-left: 5px solid darkred;
	border-top: 5px solid darkred;
	border-bottom: 5px solid darkred;
	text-align: center;
	background-color: tan;

}
/*aligns content with ID connect to center with an underline*/
#connect{
	text-align: center;
	text-decoration: underline;
}
/*changes font of labels and decreases their size*/
label{
	font-family: Arial;
	font-size: 13pt;
}

/*aligns request header to center*/
#request{
	text-align: center;
}

/*sets footer top margin to 20px, aligns text to center, changes background color to match header background color and removes underline*/
footer{
	margin-top: 20px;
	text-align: center;
	background-color: lightyellow;
	text-decoration: none;
}

/*submit button to avoid it looking too bassic*/
button{
	background-color: #09f;
	color: white;
	padding: 15px;
	width: 150px;
}

/*centers email*/

#email-connect{
	text-align: center;
}